<hello name="{{ name }}" ></hello>

<p #pRef>
  Start editing to see some magic happen :)
</p>

<div [style.fontSize]="altura" (mouseleave)=cambioaltura2() (mouseover)=cambioaltura1() id="padre" style="text-align:center">
  <app-padre ></app-padre>
</div>